.site-footer {
	background: $color-primary;
	color: $color-white;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		font-size: ms(-1);
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.widget {
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.footer-widgets {
	@include container;
	.widget-area {
		@include span(12);
		@include susy-breakpoint($bp-desktop) {
			@include span(3);
		}
	}
}
.site-info {
	padding: 1em;
}

