a {
	color: $color-primary;

	&:visited {
		color: darken($color-primary, 10%);
	}
	&:hover,
	&:focus,
	&:active {
		color: lighten($color-primary, 10%);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}