// Logo ---------------------------------------------------

.site-header {
	position: fixed;
	top: 0;
	left: gutter();
	right: gutter();
	&.toggled {
		background: $color-primary;		
	}
	.admin-bar & {
		top: 32px; // WP Admin bar / logged in users
	}
}
.site-title {
	display: block;
	float: left;
	color: #fff;
	background: $color-primary;
	font-size: 32px;
	line-height: 1;
	padding: 10px 32px;
	text-decoration: none;
	transition: background-color 0.3s;
	&:before {
		font-family: 'kanec-icons'; 
		content: '\EA01'; 
	}
	&:hover {
		color: #fff;
		background: lighten( $color-primary, 10% );
	}
	&:visited {
		color: #fff;
	}
	span { display: none; }
}

// Main Nav (mobile first) --------------------------------

.main-navigation {
	display: block;
	float: right;
	background: $color-primary;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	li {
		float: left;
		position: relative;
	}
	a {
		display: block;
		text-decoration: none;
		color: #fff;
		padding: 17px 18px;
		line-height: 1;
		background: $color-primary;
		transition: background-color 0.3s;
		&:hover {
			background: lighten( $color-primary, 10% );
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

// Navicon toggle -----------------------------------------

.menu-toggle {
	float: right;
	font-size: 18px;
	padding: 17px 21px; // To match height of .site-title
}
.toggled .main-navigation {
	// width: 100%;
	// margin-top: -53px;
	ul {
		display: block;
		color: #fff;
		float: right;
		clear: both;
	}
}

// Desktop ------------------------------------------------

@include susy-breakpoint( $bp-desktop ) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
