// Config -------------------------------------------------

// Modular scale
$ms-base: 1em;
$ms-ratio: $augmented-fourth;

// Susy Grid
$susy: (
	container: 1170px,
	columns: 12,
	gutters: 1 / 2,
	gutter-position: inside
	);

// Breakpoints
$bp-desktop: 768px;

// Variables ----------------------------------------------

$font-sans: 'Roboto', sans-serif;
$font-serif: 'Lora', serif;
$color-primary: #da002e;
$white: #fff;
$black: #000;
$color-grey-l: #eee;
$color-grey-m: #aaa;
$color-grey-d: #666;
$color-text-black: #404040;
$color-black-trans: rgba(0, 0, 0, 0.6);
$color-background-ins: #fff9c0; // Legacy
$color-text-screen: #21759b; // Legacy

$color-error: $color-primary;