// Main stylesheet

@import 'normalize';
@import 'bourbon';
@import 'neat-helpers';

$grid-columns: 4 !global;
$modular-scale-ratio: $augmented-fourth;
$max-width: em(1170);
$desktop: new-breakpoint(min-width 37.5em 12);
// $visual-grid: true;

@import 'neat';

@import 'variables-site/variables-site';
@import 'mixins/mixins-master';


@import 'layout/layout';
@import 'typography/typography';
@import 'elements/elements';
@import 'forms/forms';
@import 'navigation/navigation';
@import 'modules/accessibility';
@import 'modules/alignments';
@import 'modules/clearings';
@import 'site/secondary/widgets';
@import 'site/site';
@import 'modules/infinite-scroll';
@import 'media/media';
