html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p { margin-bottom: 1em; }

body,
button,
input,
select,
textarea {
	color: $color-text-black;
	font-family: $font-sans;
	font-size: 18px;
	line-height: 1.5;
}

p, .entry-content {
	font-family: $font-serif;
}

@import 'headings';
@import 'copy';
@import 'icon-font';
