button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	outline: 0; // TODO: Accessibility?
	border-radius: 0;
	background: $color-primary;
	// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: #fff;
	line-height: 1;
	padding: .6em 1em;
	// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		background: lighten( $color_primary, 10% );
	}

	&:active,
	&:focus {
		background: lighten( $color_primary, 10% );
	}
}