// scss-lint:disable QualifyingElement
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	outline: 0; // TODO: Accessibility?
	border-radius: 0;
	background: $color-primary;
	color: $white;
	line-height: 1;
	padding: .6em 1em;

	&:hover {
		background: lighten($color-primary, 10%);
	}

	&:active,
	&:focus {
		background: lighten($color-primary, 10%);
	}
}
