// Full page splash screen --------------------------------

.splash {
	width: 100%;
	height: 100vh;
	color: #fff;
	display: table;
	.inner {
		display: table-cell;
		vertical-align: middle;
	}
	.container {
		padding: $gutter;
	}
	h1 {
		font-size: modular-scale(2);
		font-weight: normal;
		span {
			font-weight: 700;
		}
	}
	h2 {
		font-size: modular-scale(4);
		font-weight: 100;
		margin-top: 0;
	}

	$pad: 20px;
	$size: 48px;
	$timing: 1s cubic-bezier(0.4, 0, 1, 1);

	.enter {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 60px;
		margin-left: -( $pad + $size / 2);
		border: 2px solid #fff;
		border-radius: 50%;
		text-align: center;
		.icon {
			color: #fff;
			font-size: $size;
			line-height: 1;
			padding: $pad;
			animation: throb-inner $timing infinite;
		}
		animation: throb $timing infinite;
	}
	@keyframes throb {
		0% {
			margin-left: -( $pad + $size / 2);
			bottom: 60px;
		}
		50% {
			margin-left: -( $pad+6 + $size / 2); 
			bottom: 60px - 6;
		}
	}
	@keyframes throb-inner {
		0% {
			padding: $pad;
		}
		50% {
			padding: $pad+6;
		}
	}
}
.video-bg {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100%;
	height: 100vh;
	background: $color-primary;
	video { 
		width: auto;
		min-width: 100%;
		min-height: 100vh;
		background: url(../assets/images/splash.jpg) no-repeat;
		background-size: cover; 
	}
}

// Intro block --------------------------------------------

.intro {
	background: $color-primary;
	color: #fff;
	.container {
		@include media( $desktop ) {
			.slogan, .statement {
				@include span-columns(6);
				padding: $gutter;
			}
		}
		.slogan img {
			padding: $gutter 0;
		}
	}
}

.technologies {
	@include outer-container;
	padding: 0 $gutter;
	.discipline {
		@include span-columns(2);
		&:nth-child(even) {
			// margin-right: 0;
		}
		@include media( $desktop ) {
			@include span-columns(2);
			&:nth-child(6) {
				margin-right: 0;
			}
		}
	}
	.info {
		display: none;
	}
}

.portfolio {
	@include outer-container;
	article {
		@include media( $desktop ) {
			padding: $gutter;
			@include span-columns(4);
		}
	}
}