.container {
	@include outer-container;
	.entry-header {
		@include span-columns(4);
		padding: 0 $gutter;
	}
	.entry-content {
		@include span-columns(4);
		padding: 0 $gutter;
		@include media( $desktop ) {
			padding-left: 0;
			@include span-columns(9);
			@include shift(3);
		}
	}
	.entry-footer {
		@include span-columns(4);
		padding: 0 $gutter;
		@include media( $desktop ) {
			padding-right: 0;
			@include span-columns(3);
			@include shift(-12);
		}
	}
}

.entry-title a {
	text-decoration: none;
	color: inherit;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	padding-bottom: $gutter;
	border-bottom: 3px solid #f00;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
	.posted-on {
		display: block;
	}
}
