.container {
	@include container;
	.entry-header {
		@include span(12);
	}
	.entry-content {
		@include span(12);
		@include susy-breakpoint($bp-desktop) {
			@include span(9 last);
			.page & {
				@include span(9 first);
			}
		}
	}
	.entry-meta {
		@include span(12);
		@include susy-breakpoint($bp-desktop) {
			@include span(3 first);
		}
	}
}

.entry-title a {
	text-decoration: none;
	color: inherit;
	word-wrap: break-word;
}
.entry-content {
	word-wrap: break-word; // Fix long URLs breaking excerpts
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	// border-bottom: 6px solid $color-primary;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Article sidebar
.entry-meta {
	margin-top: 1em;
	font-size: ms(-1);
	font-weight: bold;
	color: $color-grey-m;

	a {
		text-decoration: none;
		color: inherit;
	}
	.icon {
		color: $color-primary;
		// color: $white;
		// background: $color-primary;
		// padding: 7px;
		margin-right: 10px;
		// border-radius: 50%;
		font-size: 14px;
	}
}
.posted-on, .byline, .cat-links, .tags-links, .comments-link {
	display: block;
	margin: 10px 0;
}

// Header for archives, search, 404
.page-header {
	// background: #92102A;
	color: $color-primary;
	border-bottom: 2px dotted $color-primary;
}
.page-title, .taxonomy-description, .page-content {
	@include span(12);
}


.blog-intro {
	@include span(12);
	color: $color-primary;
	h1, h2 {
		font-weight: 100;
	}
}

// Featured Image
.featured-image {
	position: relative;
	padding-bottom: 56.25%; // 16:9 intrinsic ratio
	height: 0;
	max-height: 100vh;
	width: 100%;
	overflow: hidden;
}
	.wp-post-image { // <img>
		width: 100%;
	}


// Search results

// .no-results {
// 	@include container;
// 	.page-content {
// 		@include span(12);
// 	}
// }
// .entry-summary {
// 	@include span(12);
// }

// .search .content-area {
// 	@include container;
// 	// padding: 0 $gutter-width;
// 	.site-main {
// 		@include span(12);
// 	}
// }
